
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
.navbar-brand {
    font-size: 2.5rem !important;
}
.nav-link{
    font-weight:bold;
}
.banner{
    min-height: 85vh;
    width: 100%;
    background: url(./assets/banner.jpg) rgba(0, 0, 0, 0.5) no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
.title{
    color: white;
    text-align: center;
    font-weight: bold;
}
.subTitle{
    color: white;
    text-align: center;
}
.jumbotron{
    margin-bottom: 0 !important;
}
.jumboStyle{
    background: url(./assets/banner2.jpg) rgba(0, 0, 0,0.45) no-repeat !important;
    background-blend-mode: darken !important;
    background-size: cover !important;
    background-position: center !important;
    color: white;
    height: 100vh;
}

.contact{
   min-height: 70vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url(./assets/contact.jpg) rgba(0, 0, 0, 0.5) no-repeat ;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.contact label{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact input{
    background-color: transparent;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid white !important;

}
.contact input::placeholder{
    color: white !important;
}
.contact input::target-text{
    color: white;
}
.contact input:focus{
    background-color: transparent !important;
    border: none !important;
    border-bottom:2px solid white !important;
}
.footer{
    background-color: #D6DBDF;
    min-height: 40vh;
}
.footer ul a img{
    width: 30px;
}
.footer ul a img:hover{
    background-color: white;
}
.dark-mode {
    background-color: black !important;
    color: white;
  }